@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("/src/assets/poppins.ttf");
}

@font-face {
    font-family: "title";
    src: url("/src/assets/title.ttf");
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #22272e;
    color: white;
}

.custom-shape-divider-bottom-1734722500 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1734722500 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 248px;
}

.custom-shape-divider-bottom-1734722500 .shape-fill {
    fill: #009788;
}

.title {
    font-family: "title", sans-serif;
}

@layer components {
    .fc {
        @apply flex items-center justify-center
    }
    .form-input {
        @apply rounded-md p-[10px] w-full my-[5px] bg-bgdark border-solid border-2 border-bgdark focus:border-solid focus:border-2 focus:border-main focus:outline-none
    }
    .button {
        @apply bg-main w-full rounded-md p-[10px] my-[5px] hover:bg-maindark
    }
    .mh-all {
        @apply min-h-[calc(100vh-10px)]
    }
    .mh-body {
        @apply min-h-[calc(100vh-98px)]
    }
    .action-button {
        @apply bg-bg rounded-md h-full w-[60px] fc mr-[10px]
    }
}